/* 
:root {
  --mdc-theme-primary: #ff6200;
  --mdc-theme-secondary: #525199;
} */

html {
	min-height: auto;
	min-width: 30rem;
}

body {
	padding: .5rem;
}

.icon {
	margin-left: .5rem;
	margin-bottom: .5rem;
}
